NODE_ENV=development

PORT=3000

DATABASE_URL="postgresql://DB_USER_NAME:DB_PASSWORD@localhost:5432/e-commerce"

JWT_ACCESS_SECRET="DING DING"
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_SECRET="DING DING"
JWT_REFRESH_EXPIRATION="7d"

STRIPE_SECRET_KEY="your stripe secret key here"
STRIPE_WEBHOOK_SECRET="you web socker secret here"
CLIENT_URL="http://localhost:3000"